.container{
    display: flex;
    background-color: black;
    width:auto;
    height:58px;
    align-items: center;
    gap:1000px;
    font-size:30px;
    color:white;
    padding:10px;
    transition:0.33s;
}

.container a{
    text-decoration: none;
    cursor:pointer;
    display: inline-flex;
    align-items: center;
}

.None{ 
    display:none;
}

body{
    margin:0;
}
.sidenav a {
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 25px;
  color: #fbfafa;
  display: block;
  transition: 0.3s;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
a:hover{
    text-shadow:2px 1px  rgb(15, 5, 5);
}
.account{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin: 0;
}

.account-wrapper {
    
    display: flex;
    align-items: center;
    gap: 10px;
}

.Position-Account{
    font-size: 20px;
    color: white;
    
}
.closebtn{
    margin-left:20px;
}