body{
    background: rgb(0, 0, 0);
    font-family: sans-serif;
    
    
}
.navbar{
    background: rgb(22, 22, 22);
    padding: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}


.logo a{
    font-size:50px;
    color: #ff1b3d;
    text-decoration: none;
}

.menu{
    display:flex;
    gap:60px;
    list-style: none;
    margin-left: auto;
   

}

.menu a{
    color:rgb(255, 255, 255);
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    
   


}

.menu a:hover{
    text-decoration: underline;
    color: #c5b5d1;
}

.button_1{
    padding:18px 30px;
    font-size: 18px;
    color: white;
    background: linear-gradient(90deg,#ff0066,#ff6600);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    margin-left: 50px;
    
}













.slider {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  
  .slider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slide 10s infinite;
  }
  
  .slider img:nth-child(1) { animation-delay: 0s; }
  .slider img:nth-child(2) { animation-delay: 2.5s; }
  .slider img:nth-child(3) { animation-delay: 5s; }
  .slider img:nth-child(4) { animation-delay: 7.5s; }

  
  @keyframes slide {
    0% { opacity: 0; }
    10% { opacity: 1; }
    30% { opacity: 1; }
    40% { opacity: 0; }
    100% { opacity: 0; }
    
  }

.text{
    position: absolute;
    color: white;
    font-size: 65px;
    top: 590px;
    left: 100px;
}

.text_1{
    color: #ff0066;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
   
}








.cards{
    display: flex;
    gap: 200px;
    padding: 20px;
    justify-content: center;
}



.ugym_container{
    background: rgb(238, 234, 234);
    width: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  

    

}


.powerzone_container{
    background: rgb(238, 231, 231);
    width: 200px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
    




  


.test{
    color: white;
}



.gym_bt{
    padding: 10px 10px;
    font-size: 18px;
    color:rgb(220, 201, 201);
    background-color: #ff0066;
    border:none;
    border-radius: 50px;
    

}

.gym_bt a{
    color: rgb(239, 255, 255);
    text-decoration: none;
    
   
}







  





.container{ 
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

.container.ul{
    list-style: none;

}

.footer-col{
    width: 25%;
    padding: 0 15px;
    color: #e8dfdf;
}

.footer-col a{
    color: white;
}

.footer-col a :hover{
    color: #af8d92;
}
