<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1">
        <title> GYM</title>

        <link rel="stylesheet" href="style1.css">
        
    </head>
    <body>
        <nav class = "navbar">
                <div class = "logo">
                     <a href = "#">GYMGYM</a>
                </div>

                <ul class = "menu">
                    <li> <a href = "#"> Home </a></li>
                    <li> <a href = "#"> About </a></li>
                    <li> <a href = "#"> Course</a></li>
                    <li> <a href = "#"> Services</a></li>
                    <li> <a href = "#"> Advice</a></li>
                    
                </ul>
                <button class = "button_1"> <a href = "#"> Log in</a></button>
        </nav>

       





       
        <div class = "slider">
            <img src="https://www.kgntraining.com/cdn/shop/products/UxS55_7b80e6ce-8bc8-4daa-89dc-ffb0bb60a68d_1200x.jpg?v=1676467127" alt="gym slide_1">
            <img src="https://shop.bodybuilding.com/cdn/shop/articles/leg-workouts-for-men-get-thicker-quads-glutes-and-hams-986493.jpg?v=1737673309" alt="gym slide_2">
            <img src="https://cdn.shopify.com/s/files/1/0816/2082/8435/files/Back_Cover_1024x1024.jpg?v=1707160835" alt="gym slide_3">
            <img src="https://www.villagegym.co.uk/media/5796/jebson-cheadle-56-min.jpg" alt="gym slide_4">
        </div>


        <h1 class = "text">Train hard. Stay strong.</h1>



        <h1 class = "text_1">“Find the Gym That Fits You Best”</h1>
    


    <section class =" cards">
       <div class = "ugym_container">
       <h2>ugym</h2>
        <ul>
            <li>ddd</li>
            <li>ddd</li>
            <li>ddd</li>
            <li>ddd</li>
            <li>ddd</li>
        </ul>
        </div>



       <div class = "powerzone_container">
       <h2>PowerZone</h2>
       <ul>
        <li>dew</li>
        <li>fefw</li>
        <li>ddd</li>
        <li>ddd</li>
        <li>ddd</li>
       </ul>
       </div>

    </section>




    <button class = "gym_bt"><a href = "#">Get started</a></button>
    <button class = "gym_bt"><a href = "#">Get started</a></button>




    
   





      


      






        <footer >
            <div class = "container">
             <div class = "row">
                <div class = "footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href = "#">ugym</a></li>
                        <li><a href = "#">powerzone</a></li>
                    </ul>
                </div>
                <div class = "footer-col">
                    <h4>Help</h4>
                    <ul>
                        <li><a href = "#">FAQ</a></li>
                        <li><a href = "#">Login</a></li>
                        <li><a href = "#">???<a></li>
                    </ul>
                </div>
                <div class = "footer-col">
                    <h4>What we offer</h4>
                    <ul>
                        <li><a href = "#">Course</a></li>
                        <li><a href = "#">Contact us</a></li>
                        <li><a href = "#">Location<a></li>
                        <li><a href = "#">Terms of services<a></li>
                      
                    </ul>

                </div>
                
             </div>
            </div> 

        </footer>
    </body>
    
</html>
