<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<title>Sign Up</title>
</head>
<style>
    input[type="text"],select{
    width:95%;
    padding:12px;
    border-radius:10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    line-height:20px;
    margin-bottom:30px;
    margin-right:20px;
    background:transparent;
     border:2px solid #ffffff33;
    }
   input::placeholder {
  color: #aaa;
}
</style>
<body>

<div class="background-signup">
   
   <div class="signup_container">
    <form action="#" method="post" class="signup_form">
        <header class="signn">Sign up</header>
    <div class="email_input">
        <input type="email" id="email" placeholder="Enter your email" required>
    </div>

    <div class="Fname_input">
        <input type="text" id="fname" placeholder="Enter your first name" required>
    </div>

    <div class="Lname_input">
        <input type="text" id="Lname" placeholder="Enter your last name" required>
    </div>

    <div class="dateofbirth">
        <input type="date" id="dob" required>
    </div>
    
    <div class="register_button">
        <input type="submit" id="register" value="Sign Up">
    </div>
    </form>

    </div>










</div>









</body>
</html>